{% extends "main.html" %}

<!-- Definindo o título da página  -->
{% block title %}
Atualizar cartão {{cartao.id}}
{% endblock %}

{% block titulo %}
Atualizar cartão {{cartao.id}}
{% endblock %}

{% block conteudo %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="imagem" id="imagem">
    <input type="text" name="nome" id="nome" value="{{cartao.nome}}">
    <input type="text" name="remetente" id="remetente" value="{{cartao.remetente}}">
    <textarea name="mensagem" id="mensagem">{{cartao.mensagem}}</textarea>
    <input type="submit" value="Enviar">
</form>
{% endblock %}