{% extends "main.html" %}

{% load static %}


<!-- Definindo o título da página  -->
{% block title %}
Listar Cartões
{% endblock %}

{% block titulo %}
Lista de Cartões
{% endblock %}

{% block conteudo %}

<a href="/formulario_post/">
    Cria novo cartão➕
</a>

{% for cartao in cartoes %}
<fieldset>
    <legend>Mensagem {{cartao.id}}</legend>
    <img src="{{cartao.imagem}}" alt="" sizes="" srcset="" style="height: 10em;width: 10em;object-fit: cover;">
    <a href="/deletar/{{cartao.id}}">Deletar Cartão</a>
    <br>
    <br>
    Nome: {{cartao.nome}}
    <br>
    Remetente: {{cartao.remetente}}
    <br>
    Mensagem: {{cartao.mensagem}}
</fieldset>

{% endfor %}


{% endblock %}