<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartão</title>
</head>
<body>
    
    <form action="/cartao" method="get">
        <input type="text" name="nome" id="nome">
        <input type="text" name="remetente" id="remetente">
        <textarea
            name="mensagem"
            id="mensagem"
        ></textarea>
        
        <input type="submit" value="Enviar">
    </form>

</body>
</html>